<!DOCTYPE html>
<html>
<head>
    <title>Chat with GPT</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/script.js" defer></script>
</head>
<body>
    <div id="container">
        <button id="chat-toggle">Chat with GPT</button>
        <div id="chat-box" class="hidden">
            <div id="chat"></div>
            <div id="message-form">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>
</body>
</html>