<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>卦象</title>
    <link href="static/guaxiang/guaxiang.css" rel="stylesheet">
    </head>
<body>
    <div class="gua-container">
        <div class="ben_gua">
            <h2>本卦</h2>
            <div class="gua-info">
                <span>{{ .BenGuaInfo.Location }} - {{ .BenGuaInfo.Alias }}</span>
            </div>
            <div class="gua-info">
                <span>{{ .BenGuaInfo.Form }}</span>
            </div>
            <div class="gua-info">
                <span>{{ .BenGuaInfo.Guaci }}</span>
            </div>

            {{ range $index, $yao := .BenGuaInfo.Yaos }}
                <div class="{{ if eq $yao.YaoType "yang" }}line{{ else }}yin{{ end }} 
                {{ if index $.BianIndexes $index }}{{ if eq $yao.YaoType "yang" }}line-changed{{ else }}yin-changed{{ end }}{{ end }}">
                    {{ if eq $yao.YaoType "yin" }}
                        <div class="{{ if index $.BianIndexes $index }}yin-left-changed{{ else }}yin-left{{ end }}"></div>
                        <div class="yin-center"></div> <!-- 中间部分保持白色不变 -->
                        <div class="{{ if index $.BianIndexes $index }}yin-right-changed{{ else }}yin-right{{ end }}"></div>
                    {{ end }}
                </div>
                <div class="yao-text">{{ $yao.YaoCi }}</div>
            {{ end }}
        </div>

       
        <div class="bian_gua">
            <h2>变卦</h2>
            <div class="gua-info">
                <span>{{ .BianGuaInfo.Location }} - {{ .BianGuaInfo.Alias }}</span>
            </div>
            <div class="gua-info">
                <span>{{ .BianGuaInfo.Form }}</span>
            </div>
            <div class="gua-info">
                <span>{{ .BianGuaInfo.Guaci }}</span>
            </div>
            {{ range $yao := .BianGuaInfo.Yaos }}
            <div class="{{ if eq $yao.YaoType "yang" }}line{{ else }}yin{{ end }}">
                {{ if eq $yao.YaoType "yin" }}
                    <div class="yin-left"></div>
                    <div class="yin-center"></div>
                    <div class="yin-right"></div>
                {{ end }}
            </div>
            <div class="yao-text">{{ $yao.YaoCi }}</div>
            {{ end }}
        </div>
    </div>
    <div class="oracle-container">
        <div class="oracle">
            <h5>占卜结果</h5>
            <p >{{ .Orcale.Master }}</p>
            <p>{{ .Orcale.MasterExplain }}</p>
            <p >{{ .Orcale.Slave }}</p>
            <p>{{ .Orcale.SlaveExplain }}</p>
        </div>
    </div>
    
    <div style="text-align:center;">
        <a href="/" id="returnButton">返回</a>
    </div>
</body>
</html>
