body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#container {
    text-align: center;
}

#chat-box {
    width: 300px;
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    display: none; /* 确保聊天框默认不显示 */
    flex-direction: column;
    border-radius: 8px;
}

.hidden {
    display: none;
}

#chat {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    background: #eaeaea;
    border-radius: 5px;
}

#message-form {
    display: flex;
    justify-content: space-between;
}

#message-input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#send-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

#chat-toggle {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#chat-toggle:hover {
    background-color: #0056b3;
}
